@import "../../styles/abstracts";

.PageIntro {
    min-height: calc(100vh - 80px);
    position: relative;
  
    @media screen and (min-width: #{$screen-large}) {
        position: relative;
        z-index: 1;
    }

    .cover {
        height: calc(100vh - 80px);
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .coverContainer {
        height: 100%;
        width: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        justify-content: center;
        color: #fff;
    }

    .label {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .title {
        margin-bottom: 30px;
        font-size: 15vw;
        line-height: 100px;
        width: 100%;
        @media screen and (min-width: #{$screen-medium}) {
            width: 50%;
            font-size: 6vw;

          }

    }
    .description {
        margin-bottom: 30px;
        font-size: 20px;
        width: 100%;
        @media screen and (min-width: #{$screen-medium}) {
            width: 40%;
          }
    }




}







