@import "../../styles/abstracts";

.PageIntro {
    --coverh: calc(80vh - 80px);
    min-height: var(--coverh);
    position: relative;
  
    @media screen and (min-width: #{$screen-large}) {
        position: relative;
        --coverh: calc(100vh - 80px);
        z-index: 1;
    }

    .cover {
        height: var(--coverh);
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .coverContainer {
        height: 100%;
        width: 100%;
        top: 0;
        position: absolute;
        color: #fff;
        background: rgba(0,0,0,40%);
        backdrop-filter: blur(1px);
        .coverWrapper {
            display: flex;
            flex-direction: column-reverse;
            height: 100%;
            justify-content: flex-end;
            @media screen and (min-width: #{$screen-medium}) {
                flex-basis: 60%;
                flex-direction: row;
                justify-content: center;
            }
        }
        .coverLogos {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            @media screen and (min-width: #{$screen-medium}) {
                padding-top: 30px;
                flex-direction: column;
                align-items: end;
                justify-content: flex-start;
            }
            .partner {
                max-height: 7vh;
                padding: 15px;
                @media screen and (min-width: #{$screen-medium}) {
                    max-height: 10vh;
                    padding: 15px;
                }
            }
        }

        .coverMain {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }

    .label {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .title {
        margin-bottom: 30px;
        font-size: 15vw;
        line-height: 65px;
        width: 100%;
        @media screen and (min-width: #{$screen-medium}) {
            // width: 60%;
            font-size: 6vw;
            line-height: 100px;

          }

    }
    .description {
        margin-bottom: 30px;
        font-size: 20px;
        width: 100%;
        @media screen and (min-width: #{$screen-medium}) {
            width: 40%;
          }
    }

    .cta {
        height: 45px;
        font-size: 15px;
       
        @media screen and (min-width: #{$screen-medium}) {
            height: 60px;
            font-size: 18px;
        }
    }




}







