@import "../../styles/abstracts";

.HackathonThemesContainer {
    --container-padding: 30px;
}


.sectionHeading {
    width: 100%;
    margin-top: 70px;
    .heading {
        font-size: 70px;
        line-height: 78px;
        &.headingSecondary {
            color: var(--orange);
        }
    }

}



.HackathonThemes {

    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    @media screen and (min-width: #{$screen-large}) {
        
    }

    .benefit {
        flex-basis: 24%;
        padding-bottom: 42px;
        padding-top: 42px;
        background-color: #fff;
        border-radius: 18px;
        margin-bottom: 22px;
        height: 100%;
        @media screen and (min-width: #{$screen-medium}) {
            flex-basis: 24%;
          }
          @media screen and (max-width: #{$screen-medium}) {
            flex-basis: 48.5%;
          }

          @media screen and (max-width: #{$screen-small}) {
            flex-basis: 100%;
          }
          
        .benefitHeader {
            box-sizing: border-box;
            border-bottom: 1px solid hsla(0,0%,43.9%,.12);
            padding-inline-start: var(--container-padding);
            padding-inline-end: var(--container-padding);
            padding-block-end: var(--container-padding);

            img{
                height: 90px;
            }
        }
        .benefitInfo {
            padding-inline-start: var(--container-padding);
            padding-inline-end: var(--container-padding);
            padding-block-start: var(--container-padding);
        }
        .benefitTitle {
            font-weight: 500;
            font-size: 30px;
            line-height: 30px;
            white-space: pre-line;
        }
        .benefitDescription {
            margin-top: 32px;
            color: grey;
            font-size: 14px;
        }

       
    }
}


.HackathonThemesCTA {
    background-color: var(--orange);
    color: #fff;
    border-radius: 18px;
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HackathonThemesCTADes {
    margin-block-end: var(--container-padding);
    font-size: 20px;
    line-height: 19px;
}







