@import "../../styles/abstracts";

.HackathonRegisterFormContainer {
    --container-padding: 30px;
}

.registerForm {
    width:100%;height:100%;
    iframe{border-radius:0 !important;}
}


.sectionHeading {
    width: 100%;
    margin-top: 70px;

    .heading {
        font-size: 70px;
        line-height: 78px;
    }

    .headingSecondary {
        padding-block-start: calc(var(--container-padding)/2);
        font-size: 20px;
        line-height: 31px;
    }
}


.HackathonRegisterForm {
    display: flex;
    width: 100%;
    min-height: 90vh;
    padding-block-start: calc(var(--container-padding));
    @media screen and (min-width: #{$screen-medium}) {
        // width: 70%;
      }
}


// FORMS
.formStep {
    transition: all ease 0.3s;

}

.hideForm {
    display: none;
}

.showForm {
    display: block;
    width: 100%;
}

.formRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.checkboxesHeading {
    font-size: 16px;
    color: #989898;
    flex-basis: 100%;
    margin-block-end: 20px;
}
.InputField {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    flex-basis: 100%;
    max-width: 100%;
    margin-block-end: 20px;
    @media screen and (min-width: #{$screen-medium}) {
        flex-basis: 45%;
        max-width: 45%;
      }
    &.full {
        flex-basis: 100%;
        max-width: 100%;
    }


    label {
        margin-block-end: 10px;
    }

    input,
    select {
        background: #FFFFFF;
        border: 2px solid #DFE1EA;
        font-size: 16px;
        border-radius: 8px;
        padding: 20px 25px;
        transition: all ease 0.3s;


        &:active,
        &:focus,
        &:focus-visible {
            outline: none;
            border: 2px solid var(--orange) !important;
        }
    }

    &.checkboxInput {
        label {
            display: flex;
            input {
                appearance: none;
                width: 0;
                height: 0;
                /* For iOS < 15 to remove gradient background */
                background-color: #fff;
                /* Not removed via appearance */
                margin-inline-end: 12px;
                padding: 0;
                display: grid;
                place-content: center;
    
                font: inherit;
                color: currentColor;
                width: 25px;
                height: 25px;
                // border: 0.15em solid currentColor;
                border-radius: 6px;
                transform: translateY(-0.075em);
    
                &:before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    transform-origin: center;
                    background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.196 5.52484L5.38205 8.71089L11.804 2.28894' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
    
                &:checked {
                    background-color: var(--orange);
                    border-color: var(--orange);
    
                    &:before {
                        transform: scale(1);
                    }
                }
            }
        }

       

        .checkmark {
            &:after {}
        }
    }

    
}
.errorText {
    color: #f00;
    flex-basis: 100%;
    font-size: 12px;
}
.filler {
    flex-basis: 45%;
}


.formCTAWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-start: var(--section-space);
    padding-block-end: var(--section-space);
    .FormProgress {
        display: none;
        @media screen and (min-width: #{$screen-medium}) {
            display: flex;
          }
    }
}
.FormProgressMoblile {
    display: flex;
        @media screen and (min-width: #{$screen-medium}) {
            display: none !important;
          }
}


.reviewItem {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    flex-basis: 100%;
    max-width: 100%;
    margin-block-end: 20px;
    @media screen and (min-width: #{$screen-medium}) {
        flex-basis: 30%;
        max-width: 30%;
      }
    &.full {
        flex-basis: 100%;
        max-width: 100%;
    }


    label {
        margin-block-end: 10px;
        font-size: 12px;
        color: #989898;
        font-weight: 500;

    }
}