@font-face {
    font-family: "Alibaba Sans";
    src: url("/assets/fonts/AlibabaSans-Regular.ttf")
}

@font-face {
    font-family: "Alibaba Sans-Light";
    src: url("/assets/fonts/AlibabaSans-Light.ttf")
}

@font-face {
    font-family: "Alibaba Sans-Medium";
    src: url("/assets/fonts/AlibabaSans-Medium.ttf")
}